/* Styles for the main page */
#title {
    margin-left: 6%;
    color: white;
  }
  
  #button {
    margin-left: 52%;
  }
  
  .form {
    width: 100%;
  }
  
  #wrappers {
    width: 100%;
  }
  
  #articles {
    text-align: center;
    margin-top: 10%;
  }
  
  #notes {
    background-color: black;
    margin-top: 10%;
    text-align: center;
  }